<main class="container">
    <h1 class="text-center">Burgers</h1>

    <section class="row">
        {{!-- not devoured col --}}

        <div class="col not-devoured">


            {{#each burger}}
            {{#unless devoured}}
            <div class="input-group-row" data-id="{{id}}" data-devour="{{devoured}}">

                <span>{{id}}.</span> <span>{{burger_name}}</span>
                <button class="btn btn-primary devour">Devour it!</button>

            </div>
            {{/unless}}
            {{/each}}

        </div>

        <div class="col devoured">

            {{#each burger}}
            {{#if devoured}}
            <div class="input-group-row" data-id="{{id}}" data-devour="{{devoured}}">

                {{id}}.{{burger_name}}


            </div>
            {{/if}}
            {{/each}}

        </div>





    </section>
    <section class="text-area">
        <h1>Please add your burger</h1>
        <form class="add-burger">
            <div class="form-group">
                <textarea class="form-control"></textarea>

            </div>
            <button class="btn btn-primary btn-submit">Submit</button>
        </form>
    </section>

</main>